#Usee full directory paths compared to directory names.

# Compilation target for MVN.
target/

# Temporary files created by VI.
*.swp

# Folders created by GWT Compiler.
.gwt/
gwt-unitCache/
credentials/
.settings/

# Folder created by AppEngien Dev Server.
appengine-generated/

# Folder created during AppEngine compilation.
war/

# folder created by Eclipse.
.project
.classpath
.externalToolBuilders/

