html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font: 100% "Open Sans", sans-serif;
    background-color: #666;
}

.outerContainer {
    margin: -4px auto;
    padding: 2px 0 2px 0;
    max-width: 55em;
    height: 100%;
}

.innerContainer {
    padding: 0 1em 1em 1em;
        word-wrap: break-word;
}

.outerContainer,.innerContainer {
    background-color: white;
}
.importInProgressWarning {
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}