<div>
    <div data-dojo-attach-point="_editorFormDiv">
        <div class="searchInfo">
            <button data-dojo-attach-point="_saveButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_save">${messages.saveButton}</button>
            <button data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_newSubcollection">${messages.newSubcollectionButton}</button>
            <button data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_deleteSelected">${messages.deleteSelectedButton}</button>
        </div>
    </div>
    <div data-dojo-attach-point="_couldNotLoadFormDiv">
        ${messages.couldNotLoad}
    </div>
</div>