<div>
  <div class="firstForm" data-dojo-attach-point="_firstFormDiv">
    <div>${messages.selectOneSource}</div>
    <button data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_gdocAsSource">${messages.gdocSource}</button>
  </div>
  <div class="gdocAuthRequiredForm" data-dojo-attach-point="_gdocAuthRequiredFormDiv">
    <div>${messages.authRequired}</div>
    <div>${messages.authInstruction}</div>
    <button data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_gdocAuthorize">${messages.authButton}</button>
  </div>
  <div class="gdocListForm" data-dojo-attach-point="_gdocListFormDiv">
    <div class="searchInfo"><button data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_importSelectedGdocs">${messages.importSelected}</button></div>
    <div data-dojo-attach-point="_gdocPaginatedListWidgetDiv"></div>
  </div>
  <div class="importedListForm" data-dojo-attach-point="_importedListFormDiv">
    <div class="searchInfo">The following modules where imported by you into Light.</div>
    <div data-dojo-attach-point="_importedPaginatedListWidgetDiv"></div>
  </div>
</div>